/********************************************************************************************************************/
/******************************************** MAIN HTML STYLES ******************************************************/
/********************************************************************************************************************/
body {color:#555}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
}


/********************************************************************************************************************/
/******************************************** MENU ******************************************************************/
/********************************************************************************************************************/

.navbar-inner {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid #ddd;
}
.navbar .nav > li > a {
  color: #555;
  text-shadow: none;
}
.navbar .nav > li > a:hover {
  color:  #5CA9D6;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background: #5CA9D6;
}
.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
.navbar .nav li ul li ul {
  list-style: none;
  margin-left: 0;
}
.navbar .nav li ul li ul li a{
  margin-left: 5px;
}

.navbar .nav .dropdown:hover > .dropdown-menu {
	display: block;
}

.navbar .btn-navbar {
	background-color: #5CA9D6;
    background-image: -moz-linear-gradient(center top , #5CA9D6, #5CA9D6);
}

.navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {
    background-color: #5CA9D6;
}

/********************************************************************************************************************/
/******************************************** MAIN CONTENT **********************************************************/
/********************************************************************************************************************/

article.post, article.page {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
}
.entry-content {
  margin: 10px 0;
}
.page-header {
  margin-top: 0;
  padding: 0;
  border: none;
}

/*==================================== POST AND PAGE CONTENT ===========================================*/

blockquote { 
	background-color: #ccc;
	margin: 10px;
	padding: 3px;
}

blockquote p {
  margin: 10px;
}

/*==================================== TAXONOMY ========================================================*/

h2.entry-title {
  font-weight: 400;
}
h2.entry-title a {
  color: #333333;
}
h2.entry-title a:hover {
  color: #5CA9D6;
}
article.post p, article.page p {
  font-size: 1.1em;
  line-height: 1.5em;
}

/*==================================== IMAGES ==========================================================*/

.alignnone {
	display: block;
  margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
  display:block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float:left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
a img.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float:left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
img.size-full {
	max-width: 100%;
	height: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 15px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin:0;
  max-width: 95%;
  padding:0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size:11px;
  line-height:17px;
  margin:0;
  padding:0 4px 5px;
}
.caption_title {
  font-size:16px;
}

/*==================================== META ============================================================*/

.entry-meta {
  margin-top: 20px;
  font-size: 0.9em;
}

/*==================================== COMMENTS ========================================================*/

.comments-area {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
}
#comments .navigation {
  padding: 0 0 18px 0;
}
label[for="comment"] {
  display: block;
}
ol.commentlist {
  list-style: none;
}
ol.commentlist p {
  margin-left: 8px; 
}
ol.commentlist li.comment {
  padding: 10px;
}
ol.commentlist li.comment div.vcard cite.fn {
  font-style: normal;
}
ol.commentlist li.comment div.vcard img.avatar {
  margin: 0 10px 10px 10px;
}
ol.commentlist li.comment div.comment-meta {
  font-size: 11px;
}
ol.commentlist li.comment div.comment-meta a {
  color: #888;
}
ol.commentlist li.comment div.reply {
  font-size: 11px;
  margin-left: 8px;
}
ol.commentlist li.comment div.reply a {
  font-weight: bold;
}
ol.commentlist li.comment ul.children {
  list-style: none;
  margin: 10px 0 0;
}
ol.commentlist li.comment ul.children li.depth-2 {
  margin: 0 0 10px 10px;
}
ol.commentlist li.comment ul.children li.depth-3 {
  margin: 0 0 10px 10px;
}
ol.commentlist li.comment ul.children li.depth-4 {
  margin: 0 0 10px 10px;
}
ol.commentlist li.even {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
ol.commentlist li.odd {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
.comment, .trackback, .pingback {
  padding:10px;
  margin:10px 0 10px 0;
}
.odd {
  background:#f8f8f8;
}
#form-allowed-tags code {
  font-size:12px;
}
#respond input, #respond textarea {
  margin:0 5px 5px 0;
  overflow:auto;
}
#respond textarea {
  width:99%;
  height:150px;
}
.avatar {
  float:left;
}

/********************************************************************************************************************/
/******************************************** SIDEBAR & WIDGETS *****************************************************/
/********************************************************************************************************************/

.widget-container {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 15px;
}
h3.widget-title {
  font-weight: normal;
  margin-bottom: 10px;
}
.widget-container ul, .widget ul {
  margin-left: 5px;
}
.widget-container ul li, .widget ul li {
  font-size: 14px;
  line-height: 1.8em;
  list-style: none;
}

/*==================================== SEARCH FORM ====================================================*/

.searchform {
  position: relative;
  width: 190px;
  padding: 2px;
  margin: 0 auto;
  background: #DCDCDC;
  -webkit-border-radius: 5px;
  border-radius: 5px;
} 
.searchform input {
  position: relative;
  top: 0;
  left: 0;
  width: 135px;
  height: 30px;
  margin: 0;
  padding: 0px 20px 0 5px;
  border: 0;
  background: #eee;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);      
}
.searchform input:focus {
  outline: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.searchform input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
} 
.searchform input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
} 
.searchform input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}    
.searchform button {
  overflow: visible;
  position: absolute;
  top: 2px;
  right: 2px;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  color: #fff;
  text-transform: uppercase;
  background: #08C;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: 20px 20px;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  filter: dropshadow(color=#666666, offx=0, offy=-1);      
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2); 
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}     
.searchform button:hover{     
  background: #005580;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}    
.searchform button:active,
.searchform button:focus{   
  background: #005580;
  outline: 0;   
} 
.searchform button:before { /* left arrow */
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #08C transparent;
  top: 8px;
  left: -7px;
} 
.searchform button:hover:before{
  border-right-color: #005580;
}
.searchform button:focus:before,
.searchform button:active:before{
  border-right-color: #005580;
}      
.searchform button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}    

/********************************************************************************************************************/
/******************************************** FOOTER ****************************************************************/
/********************************************************************************************************************/

.footer-container {
  border: 1px solid #ddd;
  padding: 15px;
}
.footer-container ul {
  margin-left: 0;
}
.footer-container ul li {
  font-size: 14px;
  line-height: 1.8em;
  list-style: none;
}